<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />
	
	
	<form method="post" th:action="@{/coupon/add}"   id="form" class="validate">
 
  <div class="form-field">
    <label for="email-input">Coupon Name</label>
    <input type="text" name="CouponName" th:value="${coupon.CouponName}" required />
  </div>
  <div class="form-field">
    <label for="password-input">Discount :</label>
    <input type="text" name="Discount" th:value="${coupon.Discount}"  required />
  </div>
 
  <div class="form-field">
    <label for=""></label>
    <input type="submit" value="Submit" />
  </div>
</form>

</body>
</html>